{
    "swagger": "2.0",
    "info": {
        "description": "API Documentation",
        "version": "1.0.2",
        "title": "Intellect - AI"
    },
    "basePath": "/ra-services/api",
    "host": "infomedia.intellectseeccloud.com",
    "schemes": [
        "https"
     ],
    "securityDefinitions": {
        "UserSecurity": {
            "type": "apiKey",
            "in": "header",
            "name": "api_key"
        }
    },
    "security": [
        {
            "UserSecurity": []
        }
    ],
    "tags": [
        {
            "name": "Article Sentiments"
        }
    ],
    "paths": {
      "/risk/article/sentiment" : {
      "post" : {
        "tags" : [ "Article Sentiments" ],
        "summary" : "Generate sentiment of an Article",
        "description" : "Use this resource to generate a sentiment score of an Article",
        "operationId" : "generateArticleSentiment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON model representation of Article ",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Article"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request completed successfully",
            "schema" : {
              "$ref" : "#/definitions/BaseResponse"
            }
          },
          "206" : {
            "description" : "Failed to validate your request data"
          }
        }
      }
    }
    },
    "definitions": {
         "BaseResponse": {
            "type": "object",
            "required": [
                "errorInfo",
                "response",
                "status"
            ],
            "properties": {
                "status": {
                    "type": "string"
                },
                "errorInfo": {
                    "$ref": "#/definitions/ErrorInfo"
                },
                "response": {
                    "type": "object"
                }
            }
        },
		"ErrorInfo": {
            "type": "object",
            "properties": {
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Err"
                    }
                }
            }
        },
		"Err": {
            "type": "object",
            "required": [
                "errorFieldId",
                "errorMsg"
            ],
            "properties": {
                "errorFieldId": {
                    "type": "string"
                },
                "errorMsg": {
                    "type": "string"
                }
            }
        },
		"Article" : {
      "type" : "object",
      "required" : [ "ArticleId", "ArticleUrl", "Authors", "BodyText", "Captions", "Heading", "id", "Lead", "PageIds", "Paragraph", "PublishDate", "Score", "Section", "Source", "SubHeading" ],
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "ArticleUrl" : {
          "type" : "string",
          "xml" : {
            "name" : "ArticleUrl"
          }
        },
        "Heading" : {
          "type" : "string",
          "xml" : {
            "name" : "Heading"
          }
        },
        "SubHeading" : {
          "type" : "string",
          "xml" : {
            "name" : "SubHeading"
          }
        },
        "Lead" : {
          "type" : "string",
          "xml" : {
            "name" : "Lead"
          }
        },
        "Paragraph" : {
          "type" : "string",
          "xml" : {
            "name" : "Paragraph"
          }
        },
        "PublishDate" : {
          "type" : "string",
          "xml" : {
            "name" : "PublishDate"
          }
        },
        "BodyText" : {
          "type" : "string",
          "xml" : {
            "name" : "BodyText"
          }
        },
        "Captions" : {
          "type" : "array",
          "xml" : {
            "name" : "Captions"
          },
          "items" : {
            "type" : "string"
          }
        },
        "Authors" : {
          "type" : "array",
          "xml" : {
            "name" : "Authors"
          },
          "items" : {
            "type" : "string"
          }
        },
        "Source" : {
          "type" : "string",
          "xml" : {
            "name" : "Source"
          }
        },
        "WordCount" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "WordCount"
          }
        },
        "ArticleId" : {
          "type" : "string",
          "xml" : {
            "name" : "ArticleId"
          }
        },
        "Score" : {
          "type" : "string",
          "xml" : {
            "name" : "Score"
          }
        },
        "Section" : {
          "xml" : {
            "name" : "Section"
          },
          "$ref" : "#/definitions/Section"
        },
        "PageIds" : {
          "type" : "array",
          "xml" : {
            "name" : "PageIds"
          },
          "items" : {
            "type" : "string"
          }
        }
      }
    },
	 "Section" : {
      "type" : "object",
      "required" : [ "Id", "Name" ],
      "properties" : {
        "Name" : {
          "type" : "string",
          "xml" : {
            "name" : "Name"
          }
        },
        "Id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        }
      }
    }
		
    }
}